

@media screen and (max-width:1400px){
	.tarjeta {
		width: 23%;
	}
}

@media screen and (max-width:1200px){
	.tarjeta {
		width: 48%;
	}
}

@media screen and (max-width:750px){
	.tarjeta {
		width: 100%;
	}
}